@model Vidly.ViewModels.RandomMovieViewModel
@using Vidly.Models

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>

@*
    This is Comment 
    On Multiline    
*@


@if (Model.Customers.Count == 0)
{
    <p>There is no customer who has rented this movie</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}



